.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env
.env.*

venv
.venv
.poetry
pytest_cache
.mypy_cache

node_modules

tests
test

dist
build
*.egg-info

docker-compose.yml
Makefile
README.md