ENV=development

API_PORT=8000

POSTGRES_DB=payments
POSTGRES_USER=payments_user
POSTGRES_PASSWORD=payments_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

DATABASE_URL=postgresql+asyncpg://payments_user:payments_pass@postgres:5432/payments
REDIS_URL=redis://redis:6379

API_KEY=super-secret-key